@{
    ViewData["SignIn"] = "SignIn";
}

<div class="auth-container">
    <div class="outer-container" style="margin-top:40px">
        <h5 style="color:#ffffff">Логин</h5>
        <form method="get" asp-action="Enter" class="mb-4">
            <div class="input-group">
                <input name="login" type="text" id="from" placeholder="login">
            </div>

            <h5 style="color:#ffffff; margin-top: 10px">Пароль</h5>
            <div class="input-group">
                <input name="password" type="text" id="to" placeholder="qwerty123?">
            </div>

            @Html.AntiForgeryToken()
            <div class="horizontal-container">
                <button type="submit" class="search-button" style="margin-top: 12px; width: 30%">Войти</button>
                <a asp-controller="Auth" asp-action="SignUp" type="button" class="search-button" style="margin-top: 12px; width: 70%; text-decoration: none; color: #ffffff; text-align: center">
                    Регистрация
                </a>
            </div>
        </form>
  @*   </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>Тип</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Login</td>
                        <td>@user.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> *@
</div>


