<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TourFlow.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #ffffff" asp-area="" asp-controller="Home" asp-action="Index">
                    Tripify
                    <img src="https://cdn.discordapp.com/attachments/885500264319176735/1346864075870830713/planeicon.png?ex=67c9bc6b&is=67c86aeb&hm=1a3ae0c6b198afd5f58645a8828d9226230a7ea112c8d07b65119f321946ac9f&" alt="Tripify Logo" style="height: 20px; margin-left: 5px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@

                        @* <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@

                    </ul>
                    <!-- Группа элементов, которые нужно сдвинуть вправо -->
                    <ul class="navbar-nav" style="margin-left: auto;">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Auth" asp-controller="Auth" asp-action="SignIn">
                                Профиль
                                <img src="https://cdn.discordapp.com/attachments/885500264319176735/1346910538353082419/usericon.png?ex=67c9e7b0&is=67c89630&hm=22ae1eae916034573173f28622f67f2ba05cdab1fdef4444f996393240597f89&" alt="Profile Icon" style="height: 20px; margin-left: 3px;">
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Support" asp-controller="Support" asp-action="Support">
                                Поддержка
                                <img src="https://cdn.discordapp.com/attachments/885500264319176735/1346910985050390558/supporticon.png?ex=67c9e81b&is=67c8969b&hm=682245e5dac6b13c00d33b8870c0b24f1b268c29d6468f5f0b7167df9dfd1bf0&" alt="Support Icon" style="height: 20px; margin-left: 3px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
