html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: #141414;
    padding: 20px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-control {
    background-color: #3a3a3a !important;
    border: 1px solid #4a4a4a !important;
    color: #ffffff !important;
    box-shadow: none !important;
    transition: all 0.3s ease;
}

    .form-control:focus {
        border-color: #4a4a4a !important;
        box-shadow: none !important;
        outline: 0 !important;
    }

    .form-control:active {
        border-color: #4a4a4a !important;
        box-shadow: none !important;
    }

    .form-control:disabled {
        background-color: #2a2a2a !important;
        color: #777777 !important;
    }

    .form-control[readonly] {
        background-color: #3a3a3a !important;
        color: #ffffff !important;
    }

.view-card {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    background-image: url('path/to/your/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 15px;
    scroll-snap-align: start;
    margin: 0 0 20px 0;
    flex: 1 1 auto;
    min-width: 170px;
    position: relative;
    overflow: hidden;
}


    .view-card img {
        border-radius: 5%;
        height: 80px;
        object-fit: cover;
        min-width: 80px;
        max-width: auto;
    }

    .view-card .info {
        margin-left: 10px;
        position: relative;
        z-index: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-card h4 {
        color: #efefef;
        margin: 0;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }

    .view-card h6 {
        color: #efefef;
        margin: 0;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
    }

@media (max-width: 500px) {
    .view-card {
        flex: 1 0 100%;
        min-width: unset;
    }
}

.outer-container {
    background-color: #1d1e20;
    border-radius: 20px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.horizontal-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
}

    .horizontal-container::-webkit-scrollbar {
        display: none;
    }

.horizontal-container {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

.simplehorizontal-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

    .simplehorizontal-container::-webkit-scrollbar {
        display: none;
    }

.simplehorizontal-container {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.auth-container {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container {
    margin: 20px 0;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #1d1e20;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    flex: 1 1 250px;
    min-width: 250px; 
    
}

    .input-group input,
    .input-group select {
        padding: 9px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        background-color: #ffffff;
        outline: none;
        font-family: inherit; 
    }

.date-input {
    background-color: #ffffff;
    cursor: pointer;
}

.search-button {
    background-color: #8888d5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 100%;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #7979cd;
    }

@media (max-width: 768px) {
    .input-group input,
    .input-group select {
        font-size: 16px; 
        -webkit-appearance: none; 
    }
}

.more-button {
    background-color: #fff;
    color: #000;
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-container {
    display: flex;
    position: relative;
    background-color: #2e3035;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: stretch;
}

    .slider-container input[type="radio"] {
        display: none;
    }

.slider-button {
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #efefef;
    font-weight: 600;
    z-index: 1;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1;
}

.slider-container input[type="radio"]:checked + .slider-button {
    color: #141414;
}

.slider-track {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    background-color: #8888d5;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.slider-container #active:checked ~ .slider-track {
    transform: translateX(0);
}

.slider-container #archived:checked ~ .slider-track {
    transform: translateX(102%);
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: transparent;
}

    .table tbody tr {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .table tbody tr:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

    .table td, .table th {
        padding: 12px;
        vertical-align: middle;
        border: none;
    }

        .table td img {
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .table td .btn {
            border-radius: 20px;
            padding: 8px 16px;
            font-weight: bold;
            background-color: rgba(0, 123, 255, 0.9);
            border: none;
            color: white;
            transition: background-color 0.2s ease;
        }

            .table td .btn:hover {
                background-color: rgba(0, 86, 179, 0.9);
            }

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

    .table-responsive tr td:first-child,
    .table-responsive tr th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .table-responsive tr td:last-child,
    .table-responsive tr th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.table-container {
    border-radius: 20px;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(238, 239, 239);
}

    .table-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
        padding: 0px;
        text-align: left;
        border-radius: 10px;
    }

    .table-container th {
        background-color: transparent;
        color: rgb(238, 239, 239);
        font-weight: bold;
        border-radius: 10px;
    }

    .table-container tbody tr {
        margin-bottom: 12px; /* Отступ между строками */
        display: block; /* Для работы margin */
        width: 100%;
    }

    .table-container td {
        display: block;
        width: 100%;
        padding: 16px;
        background: #1d1e20;
        border-radius: 10px;
    }

/* Компактный контейнер внутри ячейки */
.compact-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price-row {
    display: flex;
    gap: 6px;
    align-items: baseline;
}

.current-price {
    color: rgb(238, 239, 239);
    font-size: 18px;
    font-weight: bold;
}

.old-price {
    color: rgb(158, 169, 183);
    text-decoration: line-through;
    font-size: 14px;
}

/* Строка с авиакомпанией и маршрутом */
.info-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.airline-logo {
    border-radius: 50%;
    overflow: hidden;
    height: 28px;
    width: 28px;
}

.airline-img {
    max-width: 100%;
}

.route {
    color: rgb(238, 239, 239);
}

/* Строка с деталями (дата, время, длительность) */
.details-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.calendar {
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    height: 40px;
    width: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.month {
    background-color: rgb(246, 106, 120);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0px 0;
    line-height: 1.2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3px;
}

.day {
    color: rgb(238, 239, 239);
    font-size: 14px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-info {
    display: flex;
    gap: 8px;
}

.departure,
.arrival {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    color: rgb(238, 239, 239);
}

.airport {
    color: rgb(138, 143, 148);
    font-size: 14px;
}

.duration {
    color: rgb(238, 239, 239);
    display: flex;
    align-items: center;
}

.separator {
    color: rgb(138, 143, 148);
    margin: 0 4px;
}

.ticket-container {
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(61, 63, 67);
    font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(238, 239, 239);
    width: 550px;
}

.ticket {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 8px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.document-icon {
    width: auto;
    height: 20px;
    filter: brightness(0) invert(1);
}

.admin-tabs {
    display: flex;
    position: relative;
    background-color: #2e3035;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
}

    .admin-tabs input[type="radio"] {
        display: none;
    }

.admin-tab-button {
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #efefef;
    font-weight: 600;
    z-index: 1;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.admin-tabs input[type="radio"]:checked + .admin-tab-button {
    color: #141414;
}

.admin-tabs-slider {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(25%);
    background-color: #8888d5;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.admin-tabs #accounts:checked ~ .admin-tabs-slider {
    transform: translateX(0%);
}

.admin-tabs #tours:checked ~ .admin-tabs-slider {
    transform: translateX(100%);
}

.admin-tabs #hotels:checked ~ .admin-tabs-slider {
    transform: translateX(200%);
}

.admin-tabs #status:checked ~ .admin-tabs-slider {
    transform: translateX(300%);
}

.ticket-details {
    background-color: #1d1e20;
    border-radius: 8px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.route-info {
    margin-bottom: 20px;
}

.cities {
    font-size: 20px;
    font-weight: bold;
}

.date {
    color: #aaaaaa;
}

.flight-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.departure, .arrival {
    text-align: center;
}

.time {
    font-size: 18px;
    font-weight: bold;
}

.airport {
    color: #aaaaaa;
}

.duration {
    text-align: center;
    color: #aaaaaa;
}

.flight-type {
    padding: 5px 10px;
    background-color: #3a3a3a;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.purchase-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
}

.form-group label {
    color: #ffffff;
}