html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: #141414;
    padding: 20px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.view-card {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    background-image: url('path/to/your/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 15px;
    scroll-snap-align: start;
    margin: 0 0 20px 0;
    flex: 1 1 auto;
    min-width: 170px;
    position: relative;
    overflow: hidden;
}


    .view-card img {
        border-radius: 5%;
        height: 80px;
        object-fit: cover;
        min-width: 80px;
        max-width: auto;
    }

    .view-card .info {
        margin-left: 10px;
        position: relative;
        z-index: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-card h4 {
        color: #efefef;
        margin: 0;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }

    .view-card h6 {
        color: #efefef;
        margin: 0;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
    }



.outer-container {
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.horizontal-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
}

    .horizontal-container::-webkit-scrollbar {
        display: none;
    }

.horizontal-container {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

.simplehorizontal-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

    .simplehorizontal-container::-webkit-scrollbar {
        display: none;
    }

.simplehorizontal-container {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}


.main-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.auth-container {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

.search-container {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-group {
    flex: 1 1 calc(33.333% - 20px); /* Три поля в строке на ПК */
    display: flex;
    flex-direction: column;
}

    .input-group label {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 5px;
    }

    .input-group input {
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        background-color: #ffffff;
        outline: none;
    }

.date-input {
    background-color: #ffffff;
    cursor: pointer;
}

.search-button {
    background-color: #f58142;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 100%;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #e5733a;
    }

/* Адаптация для мобилок */
@media (max-width: 600px) {
    .input-group {
        flex: 1 1 100%;
    }

    .search-button {
        flex: 1 1 100%;
    }
}

.more-button {
    background-color: #f58142;
    color: #ffffff;
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-container {
    display: flex;
    position: relative;
    background-color: #2e3035;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: stretch; /* Растягиваем на всю доступную ширину */
}

    .slider-container input[type="radio"] {
        display: none; /* Скрываем радиокнопки */
    }

.slider-button {
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #efefef;
    font-weight: 600;
    z-index: 1;
    transition: color 0.3s ease;
    display: flex; /* Добавляем flex для центрирования */
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */
    flex: 1; /* Равномерное распределение пространства */
}

.slider-container input[type="radio"]:checked + .slider-button {
    color: #141414; /* Цвет текста для активной кнопки */
}

.slider-track {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    background-color: #f58142;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.slider-container #active:checked ~ .slider-track {
    transform: translateX(0); /* Позиция трека для "Активные" */
}

.slider-container #archived:checked ~ .slider-track {
    transform: translateX(100%); /* Позиция трека для "Архив" */
}